li {
  list-style-type: none;
  display: inline-flex;
  padding: 0 12px;
}

.navbar-element:hover {
  text-decoration: underline solid #ff7043;
  text-underline-offset: 3px;
  transition: all .5s ease;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  padding: 1rem 2rem;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: all 0.3s ease;
  z-index: 1000;
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}