.project-card-container {
  display: flex;
  margin-bottom: 20px;
}

.image-project {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.project-info-container {
  max-width: 28em;
}

.project-image-container {
  width: 30em;
  height: 18em;
}

.project-image-container {
  margin-right: 60px;
}

.project-title {
  margin-bottom: 25px;
}

.project-description {
  margin-bottom: 25px;
}

.technology {
  margin-right: 25px;
}