* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: My-Font;
  src: url('./assets/fonts/Rubik-VariableFont_wght.ttf');
}

.App {
  background-color: #0d1b2a;
  justify-items: center;
  font-family: My-Font, sans-serif;
  color: #eaeaea;
}

h1 {
  margin-bottom: 60px;
}

section {
  margin-bottom: 130px;
}
